<h1>Signup Form</h1>
<div>
<%= form_tag url_for :action => 'create' do %>
Username: <%= text_field_tag 'user[user_name]' %>
Password: <%= password_field_tag 'user[password]' %>
<%= submit_tag 'signup' %>
<% end %>
</div>