/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "jquery-ui.css";
@import "bootstrap";
@import "font-awesome";

.container{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.logins{
	width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn{
	margin: 0 4px;
}
.icon_font{
	font-size: 27px;
}

body{
	background-image: url("pexels-photo-952670.jpeg");
}
.label_color{
	color: white;
}

.content_align{
	display: flex;
	justify-content: space-between;
	padding: 20px 0 0 0;
}
.followlist{
	display: flex;
	justify-content: space-around;
}
.post_header{
  display: flex;
  padding: 16px 0 10px 9px;
  background: #e78787;
  border-radius: 5px;
}
.comment_like{
	display: flex;
	margin: 0 !important;
	justify-content: space-between;
}
.like_icon{
	color: red !important; 
	font-size: 20px !important;
}
.main-content{
	margin: 0 660px; 
	padding: 0 8px;
	border: 6px solid white;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
}
.user-content{
	margin: 0 666px !important;
}
.comment_field{
  width: 100%;
  margin: auto;
  padding: 0 20px;
}
.bottom_buttons{
	width: 25%;
	color: aliceblue;
	font-size: 25px;
}
.bottom_box{
	position: fixed;
	bottom: 0;
	left: 35%; 
	width: 35rem; 
	background: #72777b85;
}
.new_comment{
	width: 100% !important;
}

.active{
	border: none !important;
}

.user-actions{
	background: #72777b85;
	height: 75px;
	display: flex;
	justify-content: space-around;
	padding: 20px 0 0 0;
}
.user-images{
	border: 2px solid white;
	border-radius: 17px;
	margin: 0 0 12px 0;
}
.user-follow-button{
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	color: black;
}